$font-size-1: 12px;
$font-size-2: 16px;
$font-size-3: 20px;
$font-size-4: 24px;
$font-size-5: 32px;
$font-size-6: 48px;
$font-size-7: 64px;
$font-size-8: 96px;
$font-size-9: 128px;
$font-size-10: 160px;
$font-size-11: 192px;

$line-height-limit: 0.875;
$line-height-title: 1;
$line-height-heading: 1.125;
$line-height-subheading: 1.25;
$line-height-caption: 1.375;
$line-height-body: 1.5;

$ls-title: -0.009em;
$ls-headline: 0.009em;
